* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.etchasketch {
  position: relative;
  width: clamp(250px, 70vw, 650px);
  height: clamp(315px, 70vh, 450px);
  outline: 110px solid #dc1212;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  position: absolute;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
  top: -95px;
  filter: drop-shadow(0px 1px 1px rgba(0 0 0 / 30%)) contrast(1.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvas {
  background: #e5e5e3;
  z-index: 1000;
  width: 100%;
  height: 100%;
  cursor: url('../img/pen.png') 1 35, auto;
  box-shadow: inset 1px 1px 5px rgba(0 0 0 / 45%);
}

.range-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -65px;
}

input[type='range'] {
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 10px;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 10px -5px rgba(0 0 0 / 50%);
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 15px -5px rgba(0 0 0 / 50%);
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {
  width: 90px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  color: rgb(85, 85, 85);
  font-size: 14px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  top: -31px;
  opacity: 0.85;
  box-shadow: 5px 5px 10px -5px rgba(0 0 0 / 20%);
}
.range-value span:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.knob {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  border: 4px dashed #fff;
  box-shadow: 15px 20px 20px -20px rgb(34 34 34 / 50%),
    inset 0 0 5px rgb(34 34 34 / 10%);
  cursor: pointer;
  bottom: -95px;
}

.knob-left {
  left: -95px;
}

.knob-right {
  right: -95px;
}

i {
  font-size: 2.5rem;
  color: #c7c7c7;
}

.fa-eraser {
  color: grey;
  display: flex;
  position: relative;
  left: 6px;
  top: 6px;
  font-size: 1.5rem;
}

.colors {
  position: relative;
  top: 140px;
  display: flex;
  justify-content: space-between;
  width: 375px;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='radio'] {
  opacity: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color-button {
  display: block;
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d4d4d4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-button:active {
  transform: scale(0.95);
}

input[type='radio']:checked + .color-button {
  box-shadow: inset 3px 2px 3px rgba(0 0 0 / 70%);
}

.black {
  background: #353535;
}

.brown {
  background: #58412d;
}

.red {
  background: #e21a1a;
}

.green {
  background: #3eac1d;
}

.purple {
  background: #5928a8;
}

.blue {
  background: #3085f8;
}

.yellow {
  background: #ffc21e;
}

.orange {
  background: #fd6607;
}

@media screen and (max-width: 1100px) {
  .container {
    height: 90vh;
  }

  .etchasketch {
    outline: 70px solid #dc1212;
    height: clamp(315px, 55vh, 450px);
  }

  .logo {
    width: 250px;
    top: -65px;
  }

  .range-container {
    bottom: -60px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }

  .range-value span {
    top: -27px;
    left: -2px;
  }

  .knob {
    width: 50px;
    height: 50px;
  }

  .knob-left {
    left: -55px;
    bottom: -55px;
  }

  .knob-right {
    right: -55px;
    bottom: -55px;
  }

  i {
    font-size: 1.7rem;
  }

  .colors {
    top: 90px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 90vh;
  }
  .etchasketch {
    outline: 55px solid #dc1212;
    border-bottom: 20px solid #dc1212;
    width: clamp(220px, 40vw, 650px);
  }

  input[type='range'] {
    width: 150px;
  }

  .logo {
    top: -57px;
  }

  .knob {
    bottom: -60px;
  }

  .knob-left {
    left: -45px;
  }

  .knob-right {
    right: -45px;
  }

  .fa-eraser {
    top: 4px;
    font-size: 1.2rem;
  }

  .colors {
    top: 70px;
    width: 300px;
    justify-content: space-between;
  }

  input[type='radio'] {
    width: 30px;
    height: 30px;
  }

  .color-button {
    width: 30px;
    height: 30px;
  }
}
