footer {
  @extend .flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 225px;
  background-color: $etch-a-sketch-red;
  line-height: 150%;
  margin-bottom: auto;
}

.contact-buttons {
  @extend .flex;
  width: 350px;
}

.icon {
  width: 30px;
  margin: 0 10px;
  transition: transform 100ms;
}

.icon:hover {
  transform: scale(1.05);
}
