@media screen and (max-height: 800px) and (pointer: fine) {
  .etchasketch {
    width: 60vw;
  }

  .color-picker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
    width: 50px;
    flex-direction: column;
  }

  .color-button {
    display: inline;
    position: absolute;
    right: 5px;
    top: initial;
    width: $radio-width;
    height: $radio-height;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }

  .erase {
    bottom: 3px;
  }
}

@media screen and (pointer: coarse) {
  // prevents screen from jumping when drawing on touch device
  body {
    position: fixed;
    overflow: hidden;
  }
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .container {
    padding-bottom: 12vh;
  }

  .etchasketch {
    height: 45vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-bottom: 10vh;
  }

  .etchasketch {
    outline: 55px solid $etch-a-sketch-red;
    border-bottom: 20px solid $etch-a-sketch-red;
    width: 60vw;
  }

  .logo {
    width: 200px;
    top: -45px;
  }

  .range-container {
    bottom: -45px;
  }

  .knob {
    width: 50px;
    height: 50px;
  }

  .knob-left {
    left: -45px;
    bottom: -55px;
  }

  .knob-right {
    right: -45px;
    bottom: -55px;
  }

  i {
    font-size: 1.7rem;
  }

  .knob {
    bottom: -60px;
  }

  .fa-eraser {
    top: 4px;
    font-size: 1.2rem;
  }

  .color-picker {
    top: 70px;
    width: 300px;
    justify-content: space-between;
  }

  input[type='radio'] {
    width: 30px;
    height: 30px;
  }

  .color-button {
    width: 30px;
    height: 30px;
  }
}
